@import '../../../main.scss';

.about {
	&__content {
		@include main;
		margin-bottom: 20px;
		width: 100%;
		&-collapses {
			margin-top: 1em;
			@include flex-column-between;
			align-items: center;
		}
	}
}
