@font-face {
	font-family: 'Montserrat';
	src: url('/src/assets/fonts/Montserrat/Montserrat-Regular.ttf');
}
/*    REINITIALISATION CSS   */
body {
	font-family: 'Montserrat', sans-serif;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	-moz-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
}

input,
button {
	font: inherit;
}

a {
	text-decoration: none;
}

/*    FIN REINITIALISATION    */
.main {
	min-height: 100vh;
	display: grid;
	grid-template-rows: 1fr auto;
}
/*   Variables   */

$font-color-primary: #ffffff;
$font-color-secondary: #000000;
$font-color-third: #ff6060;

$font-weight-regular: 400;
$font-weight-medium: 600;
$font-weight-bold: bold;

$card-color-primary: #ff6060;
$card-color-secondary: #ffffff;

$background-color-primary: #ffffff;
$background-color-secondary: #f6f6f6;
$background-color-third: #000000;
$background-color-four: #ff6060;

$desktop-breakpoint: 750px;
$minw-breakpoint: 450px;

@mixin background-image {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

@mixin font($weight, $size, $color) {
	font-weight: $weight;
	font-size: $size;
	color: $color;
}

@mixin link-underline {
	text-decoration: underline;
	cursor: pointer;
}

@mixin flex-all-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

@mixin flex-column-between {
	flex-direction: column;
	display: flex;
	justify-content: space-between;
}

@mixin flex-evenly {
	justify-content: space-evenly;
}

@mixin main {
	margin: 0 auto;
	padding: 1.25em 1.25em 0 1.25em;
	max-width: 1240px;
}

/** Banner **/

@mixin banner {
	position: relative;
	height: 111px;
	margin-top: 28px;
	margin-bottom: 20px;
	border-radius: 15px;
	overflow: hidden;
}

@mixin banner__background {
	min-width: inherit;
	height: inherit;
	filter: brightness(50%);
}

@mixin background__url($url) {
	background-image: url($url);
}
