@font-face {
	font-family: 'Montserrat';
	src: url('/src/assets/fonts/Montserrat/Montserrat-Regular.ttf');
}
/*    REINITIALISATION CSS   */
body {
	font-family: 'Montserrat', sans-serif;
	padding: 1.25em 1.25em 0 1.25em;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	-moz-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
}

input,
button {
	font: inherit;
}

a {
	text-decoration: none;
}

/*    FIN REINITIALISATION    */

/*   Maps   */

$font-sizes: (
	'double-large': 48px,
	'extra-large': 36px,
	'large': 24px,
	'regular': 18px,
	'semi-regular': 14px,
	'small-plus': 13px,
	'small': 12px,
	'extra-small': 10px,
);

$font-colors: (
	'primary': #ffffff,
	'secondary': #000000,
	'third': #ff6060,
);

$font-weights: (
	'regular': 400,
	'medium': 600,
	'bold': bold,
);
$card-colors: (
	'primary': #ff6060,
	'secondary': #ffffff,
);

$background-colors: (
	'primary': #ffffff,
	'secondary': #f6f6f6,
	'third': #000000,
);
