@import '../../../main.scss';

.rating {
	@include flex-all-center;
	@media (min-width: $desktop-breakpoint) {
		height: 74px;
		align-items: flex-end;
	}
	&__container {
		min-width: 18px;

		@media (min-width: $desktop-breakpoint) {
			width: 36px;
			height: 46px;
		}

		&-star {
			width: 100%;
		}
	}

	width: fit-content;
	height: 33.59px;
}
