@import '../../../main.scss';

.collapse {
	position: relative;
	z-index: 999;
	overflow: hidden;
	max-width: 1023px;
	&__categorie {
		@media (min-width: $desktop-breakpoint) {
			height: 52px;
			@include font($font-weight-bold, 24px, $font-color-primary);
		}
		@include font($font-weight-bold, 13px, $font-color-primary);
		@include flex-all-center;
		justify-content: space-between;
		height: 30px;
		background-color: $background-color-four;
		border-radius: 5px;
		padding: 0 0.625em;

		&-arrow {
			transform: rotate(0deg);
			transition: 0.3s 0.1s ease-in, 0.2s 0.1s ease-out;
			cursor: pointer;
		}
		.rotate {
			transform: rotate(180deg);
		}
	}

	&__contenu {
		@include font($font-weight-regular, 13px, $font-color-secondary);
		@media (min-width: $desktop-breakpoint) {
			@include font($font-weight-regular, 18px, $font-color-secondary);
		}
		@media (min-width: $desktop-breakpoint) {
			transform: translateY(-52px);
		}
		background-color: $background-color-secondary;
		position: relative;
		z-index: -1;
		padding: 0.7em;
		border-bottom-right-radius: 5px;
		border-bottom-left-radius: 5px;
		line-height: 1.5;
		height: 0;
		transform: translateY(-30px);

		&-text {
			opacity: 0;
			transform: translateY(-30px);
			@media (min-width: $desktop-breakpoint) {
				transform: translateY(-52px);
			}
		}
	}

	.displayed {
		animation: fall 1s forwards;
	}
	.open {
		margin-bottom: 1em;
		height: fit-content;
		animation: fall 1s forwards;
	}
}

@keyframes fall {
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
