@import '../../../main.scss';

.header {
	@include flex-all-center;
	justify-content: space-between;
	width: 100%;
	height: 47px;

	.header__image {
		width: 145px;
		height: 47px;
	}

	.nav {
		@include flex-all-center;
		justify-content: space-between;
		width: 46%;
		.active {
			@include link-underline;
		}
		.nav__link {
			@include font($font-weight-medium, 12px, $font-color-secondary);
			text-transform: uppercase;
		}
	}
}
