@import '../../../main.scss';

.gallery {
	@media (min-width: 400px) {
		display: grid;
		grid-template-columns: 340px;
		justify-content: center;
		background-color: $background-color-secondary;
		border-radius: 25px;
		padding: 0.8em 0;
		margin-bottom: 2rem;
	}

	@media (min-width: 835px) {
		grid-template-columns: 340px 340px;
		column-gap: 50px;
		row-gap: 10px;
	}

	@media (min-width: 1150px) {
		grid-template-columns: 340px 340px 340px;
		column-gap: 40px;
		row-gap: 0;
	}
	.card__container {
		min-width: 335px;
		max-width: 340px;
		height: fit-content;
	}
}
