@import '../../../main.scss';

.banner {
	@include background-image;
	min-height: 111px;
	max-height: 223px;
	margin-top: 28px;
	margin-bottom: 20px;
	border-radius: 15px;
	overflow: hidden;
	background-blend-mode: darken;
	.banner__text {
		backdrop-filter: brightness(50%);
		@include font($font-weight-bold, 24px, $font-color-primary);
		@include flex-all-center;
		justify-content: flex-start;
		height: 111px;
		padding-left: 10px;
	}
}

@media screen and (min-width: 450px) {
	.banner__text {
		justify-content: center;
	}
	.br__mobile {
		display: none;
	}
}
