@import '../../../main.scss';

.banner {
	@include banner;

	@media (min-width: 765px) {
		height: 223px;
	}

	.banner__background {
		@include banner__background;
		@include background-image;
		@include background__url(
			'../../assets/images/bannieres/image-mobile-accueil.webp'
		);

		@media (min-width: 765px) {
			@include background__url(
				'../../assets/images/bannieres/image-desktop-accueil.webp'
			);
		}
	}

	.banner__text {
		@include font($font-weight-bold, 24px, $font-color-primary);
		@include flex-all-center;
		justify-content: flex-start;
		height: inherit;
		padding-left: 10px;
		position: absolute;
		top: 0;
		width: 100%;
		@media (min-width: 450px) {
			justify-content: center;
			.br__mobile {
				display: none;
			}
		}

		@media (min-width: 765px) {
			@include font($font-weight-bold, 48px, $font-color-primary);
		}
	}
}
