@import '../../../main.scss';

.card {
	position: relative;
	@include background-image;
	min-width: 335px;
	height: 255px;
	border-radius: 15px;
	margin: 20px 0;
	.card__title {
		font-size: map-get($map: $font-sizes, $key: regular);
		font-weight: map-get($map: $font-weights, $key: bold);
		color: map-get($map: $font-colors, $key: primary);
		position: absolute;
		bottom: 20px;
		left: 20px;
	}
}
