@import '../../../main.scss';

.owner {
	@include flex-all-center;
	.owner__name {
		@include font($font-weight-medium, 12px, $font-color-third);
		text-align: right;
		line-height: 1.4;
		margin-right: 5px;
	}
	.owner__photo {
		border-radius: 50%;
		width: 32px;
		height: 32px;
	}
}
