@import '../../../main.scss';

.footer {
	width: 100%;
	height: 209px;
	background-color: map-get($map: $background-colors, $key: third);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	.footer__copyright {
		color: map-get($map: $font-colors, $key: primary);
		font-weight: map-get($map: $font-weights, $key: medium);
		font-size: map-get($map: $font-sizes, $key: small);
		line-height: 1.6;
		margin-top: 15px;
	}
	.footer__image {
		width: 122px;
		height: 40px;
	}
}
