@import '../../../main.scss';

.banniere {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 111px;
	max-height: 223px;
	border-radius: 15px;
	overflow: hidden;
	.banniere__text {
		backdrop-filter: brightness(50%);
		display: flex;
		align-items: center;
		height: 111px;
		font-size: map-get($map: $font-sizes, $key: large);
		color: map-get($map: $font-colors, $key: primary);
		font-weight: map-get($map: $font-weights, $key: bold);
		padding-left: 10px;
	}
}
